---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  alt: string;
  description: string;
  link: string;
  image: ImageMetadata;
}

const { title, alt, image, description, link } = Astro.props;
---

<a
  class="flex-1 overflow-hidden bg-black border-black border-2 relative"
  href={link}
>
  <div class="group h-full w-full flex">
    <Image
      src={image}
      alt={alt}
      class="object-cover h-full w-full opacity-75 group-hover:opacity-20 pointer-events-none transition-all duration-500"
    />
    <h2
      class="absolute left-0 right-0 top-0 bottom-0 w-fit m-auto h-fit text-4xl bg-gray-300 p-2 bg-opacity-75 rounded"
    >
      {title}
    </h2>
    <div
      class="absolute right-0 left-0 w-3/4 m-auto text-white top-[100%] group-hover:top-[50%] group-hover:pt-12 text-center transition-all duration-500"
    >
      {description}
    </div>
  </div>
</a>
